wxpython_builder/builder_schema.rnc


datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace local = ""

#App and main windows.
div
{
    start = bld.root.model
    
    bld.root.model =
        bld.app.elem
    
    bld.app.elem =
        element app { bld.app.contents }

    bld.app.contents =
        bld.app.attlist,
        bld.module.elem*,
        bld.main-wnds.model+

    bld.app.attlist =
        bld.app.main-wnd.attrib?,
        bld.app.py.init.attrib?
    
    bld.module.elem =
        ##All children of the parent of this element will
        ##have this module made available to any Python scripts.
        element module { bld.module.contents }
    
    bld.module.contents =
        bld.module.attlist
    
    bld.module.attlist =
        bld.module.name.attrib,
        bld.module.as.attrib?
    
    bld.main-wnds.model =
        bld.frame.elem


    bld.frame.elem =
        ##Main frame window.
        element frame { bld.frame.contents }

    bld.frame.contents =
        bld.frame.attlist,
        bld.frame.containers.model+

    bld.frame.attlist =
        bld.id.attrib,
        bld.frame.size.attlist,
        bld.title.attrib

    bld.frame.size.attlist =
        ##Requires width and height.
        bld.width.attrib,
        bld.height.attrib

    bld.frame.containers.model =
        bld.panel.elem |
        bld.toolbar.elem
}

##Frame containers
div
{
    bld.panel.elem =
        ##One of the child elements of a frame, storing arbitrary content.
        element panel { bld.panel.contents }
    
    bld.panel.contents =
        bld.panel.attlist,
        bld.windows.model*

    bld.panel.attlist =
        bld.std.window.attlist,
        bld.panel.aui.attlist,
        bld.sizer.attlist

    bld.panel.aui.attlist =
        bld.panel.aui.dock.attrib,
        bld.aui.caption.attrib?,
        bld.aui.common.attlist,
        bld.aui.buttons.attrib?,
        bld.aui.floatable.attrib?

    bld.aui.common.attlist =
        bld.aui.name.attrib?,
        bld.aui.row.attrib?,
        bld.aui.layer.attrib?,
        bld.aui.resizeable.attrib?,
        bld.aui.gripper.attrib?

    bld.toolbar.elem =
        ##A toolbar in a frame window, storing arbitrary content.
        element toolbar { bld.toolbar.contents }
    
    bld.toolbar.contents =
        bld.toolbar.attlist,
        bld.windows.model*

    bld.toolbar.attlist =
        bld.std.window.attlist,
        bld.toolbar.aui.attlist,
        bld.sizer.attlist
    
    bld.toolbar.aui.attlist =
        bld.aui.dock.attrib,
        bld.aui.common.attlist
    
    bld.windows.model =
        bld.containers.model | bld.controls.model
}

##Container windows.
div
{
    bld.containers.model =
        ##A choice between the various container elements
        bld.cont.sizer.elem |
        bld.cont.pane.elem |
        bld.cont.scroll-window.elem |
        bld.cont.box.elem |
        bld.cont.coll-pane.elem
    
    bld.cont.sizer.elem =
        ##A non-window sizer, which can contain other windows.
        element sizer { bld.cont.sizer.contents }
    
    bld.cont.sizer.contents =
        bld.cont.sizer.attlist,
        bld.windows.model*
    
    bld.cont.sizer.attlist =
        bld.size.opt.attlist,
        bld.window.layout.attlist,
        bld.sizer.attlist

    bld.cont.pane.elem =
        ##A window that contains other windows.
        element pane { bld.cont.pane.contents }

    bld.cont.pane.contents =
        bld.cont.pane.attlist,
        bld.windows.model*

    bld.cont.pane.attlist =
        bld.std.window.attlist,
        bld.window.layout.attlist,
        bld.sizer.attlist

    bld.cont.scroll-window.elem =
        ##A scrollable container.
        element scroll-window { bld.cont.scroll-window.contents }
    
    bld.cont.scroll-window.contents =
        bld.cont.scroll-window.attlist,
        bld.windows.model*

    bld.cont.scroll-window.attlist =
        bld.std.window.attlist,
        bld.window.layout.attlist,
        bld.sizer.attlist,
        bld.scroll-window.hscroll.attrib?,
        bld.scroll-window.vscroll.attrib?
        
    bld.cont.box.elem =
        ##A box with a line around it and a text heading.
        element box { bld.cont.box.contents }
        
    bld.cont.box.contents =
        bld.cont.box.attlist,
        bld.windows.model*
    
    bld.cont.box.attlist =
        bld.std.window.attlist,
        bld.window.layout.attlist,
        bld.sizer.attlist,
        bld.std.label.attrib
        
    bld.cont.coll-pane.elem =
        ##A pane which can be collapsed and opened via a button click.
        element coll-pane { bld.cont.coll-pane.contents }
    
    bld.cont.coll-pane.contents =
        bld.cont.coll-pane.attlist,
        bld.windows.model*
    
    bld.cont.coll-pane.attlist =
        bld.std.window.attlist,
        bld.window.layout.attlist,
        bld.sizer.attlist,
        bld.coll-pane.label.attrib,
        bld.coll-pane.collapsed.attrib?        
}

##Control windows
div
{
    bld.controls.model =
        bld.ctrl.static-text.elem |
        bld.ctrl.button.elem |
        bld.ctrl.spacer.elem |
        bld.ctrl.checkbox.elem |
        bld.ctrl.radiobox.elem |
        bld.ctrl.text-ctrl.elem |
        bld.ctrl.static-line.elem |
        bld.ctrl.spin-ctrl-int.elem |
        bld.ctrl.spin-ctrl-float.elem |
        bld.ctrl.py.control.elem

    bld.ctrl.static-text.elem =
        ##A wxStaticText control
        element static-text { bld.ctrl.static-text.contents }

    bld.ctrl.static-text.contents =
        bld.ctrl.static-text.attlist

    bld.ctrl.static-text.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.static-text.label.model
    
    bld.static-text.label.model =
        bld.std.label.attrib,
        bld.std.label-align.attrib?

    ##May add default enable/disable attribute to controls or similar things.
    bld.std.control.attlist =
        empty

    bld.ctrl.button.elem =
        ##A wxButton or wxBitmapButton
        element button { bld.ctrl.button.contents }
        
    bld.ctrl.button.contents =
        bld.ctrl.button.attlist
    
    bld.ctrl.button.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.std.label.attrib,
        bld.std.py.action.attrib?

    bld.button.label.model =
        ##Should also include a way to get a bitmap.
        bld.std.label.attrib,
        bld.std.full.label-align.attrib?
    
    bld.ctrl.spacer.elem =
        ##Inserts space into the parent sizer.
        element spacer { bld.ctrl.spacer.contents }

    bld.ctrl.spacer.contents =
        bld.ctrl.spacer.attlist

    bld.ctrl.spacer.attlist =
        bld.spacer.size.attrib?,
        bld.window.layout.attlist?

    bld.ctrl.checkbox.elem =
        element checkbox { bld.ctrl.checkbox.contents }
    
    bld.ctrl.checkbox.contents =
        bld.ctrl.checkbox.attlist
    
    bld.ctrl.checkbox.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.std.label.attrib,
        bld.checkbox.states.attrib?,
        bld.checkbox.default.attrib?,
        bld.std.py.action.attrib?

    bld.ctrl.radiobox.elem =
        element radiobox { bld.ctrl.radiobox.contents }
    
    bld.ctrl.radiobox.contents =
        bld.ctrl.radiobox.attlist,
        bld.ctrl.radiobox.radio.elem+
    
    bld.ctrl.radiobox.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.std.label.attrib,
        bld.radiobox.orient.attrib?,
        bld.radiobox.default.attrib?,
        bld.std.py.action.attrib?
    
    bld.ctrl.radiobox.radio.elem =
        element radio { bld.radiobox.radio.contents }
    
    bld.radiobox.radio.contents =
        bld.radiobox.radio.attlist
    
    bld.radiobox.radio.attlist =
        bld.std.label.attrib
        
    bld.ctrl.text-ctrl.elem =
        element text-ctrl { bld.ctrl.text-ctrl.contents }
        
    bld.ctrl.text-ctrl.contents =
        bld.ctrl.text-ctrl.attlist
    
    bld.ctrl.text-ctrl.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.ctrl.text-ctrl.multiline.attrib?,
        bld.ctrl.text-ctrl.readonly.attrib?,
        bld.ctrl.text-ctrl.wrap.attrib?,
        bld.ctrl.text-ctrl.rich.attrib?,
        bld.ctrl.text-ctrl.default.attrib?,
        bld.ctrl.text-ctrl.py.entry.attrib?,
        bld.ctrl.text-ctrl.py.change.attrib?

    bld.ctrl.static-line.elem =
        ##Draws a horizontal or vertical line.
        element static-line { bld.ctrl.static-line.contents }
    
    bld.ctrl.static-line.contents =
        bld.ctrl.static-line.attlist

    bld.ctrl.static-line.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.ctrl.static-line.orient.attrib?

    bld.ctrl.spin-ctrl-int.elem =
        ##Creates an integer spin control.
        element spin-ctrl-int { bld.ctrl.spin-ctrl-int.contents }
        
    bld.ctrl.spin-ctrl-int.contents =
        bld.ctrl.spin-ctrl-int.attlist
        
    bld.ctrl.spin-ctrl-int.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.ctrl.spin-ctrl-int.min.attrib?,
        bld.ctrl.spin-ctrl-int.max.attrib?,
        bld.ctrl.spin-ctrl-int.default.attrib?,
        bld.ctrl.spin-ctrl.wrap.attrib?,
        bld.ctrl.spin-ctrl.py.change.attrib?
    
    bld.ctrl.spin-ctrl-float.elem =
        ##Creates an floating-point spin control.
        element spin-ctrl-float { bld.ctrl.spin-ctrl-float.contents }
    
    bld.ctrl.spin-ctrl-float.contents =
        bld.ctrl.spin-ctrl-float.attlist
        
    bld.ctrl.spin-ctrl-float.attlist =
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        bld.ctrl.spin-ctrl-float.min.attrib?,
        bld.ctrl.spin-ctrl-float.max.attrib?,
        bld.ctrl.spin-ctrl-float.default.attrib?,
        bld.ctrl.spin-ctrl-float.increment.attrib?,
        bld.ctrl.spin-ctrl.wrap.attrib?,
        bld.ctrl.spin-ctrl-float.min-digits.attrib?,
        bld.ctrl.spin-ctrl.py.change.attrib?
        
    bld.ctrl.py.control.elem =
        ##Allows a user to use a Python script to create a custom window from the XML element.
        element py.control { bld.ctrl.py.control.contents }
    
    bld.ctrl.py.control.contents =
        bld.ctrl.py.control.attlist,
        bld.ctrl.py.control.model

    bld.ctrl.py.control.attlist =   
        bld.ctrl.py.control.py.window.attrib,
        bld.std.window.attlist,
        bld.std.control.attlist,
        bld.window.layout.attlist,
        (attribute * - local:* {text})*

    bld.ctrl.py.control.model =
        bld.any.contents
}

##Other models
div
{
    bld.any.elem =
        element * { bld.any.attrib*, bld.any.contents }
    
    bld.any.attrib =
        attribute * { text }
    
    bld.any.contents =
        bld.any.elem* & text
}

##Common attlists
div
{
    bld.std.window.attlist =
        bld.tooltip.attrib?,
        bld.id.attrib?,
        bld.size.opt.attlist

    bld.size.opt.attlist =
        bld.width.attrib?,
        bld.height.attrib?
        
    bld.sizer.attlist =
        bld.box.sizer.attlist |
        bld.gridsizer.sizer.attlist

    bld.box.sizer.attlist =
        bld.box.orient.attrib

    bld.gridsizer.sizer.attlist =
        bld.gridsizer.sizer.starter.model,
        bld.gridsizer.hgap.attrib?,
        bld.gridsizer.vgap.attrib?,
        bld.gridsizer.fixed.attrib?
    
    bld.gridsizer.sizer.starter.model =
        bld.gridsider.columns.attrib |
        bld.gridsider.rows.attrib |
        (bld.gridsider.rows.attrib, bld.gridsider.columns.attrib)

    bld.window.layout.attlist =
        bld.layout.valign.attrib?,
        bld.layout.halign.attrib?,
        bld.layout.expand.attrib?,
        bld.layout.proportion.attrib?,
        (bld.layout.border-size.attrib, bld.layout.border-dir.attrib)?
}

## All attributes.
div
{
    bld.app.main-wnd.attrib =
        ##Specifies the `id` of the `frame` which should be considered the main window for the app.
        ##If you invoke this system using `application`, then this is the window which will be
        ##displayed.
        ##If no `frame` `id` matches this `id`, then an error is produced.
        ##Not providing a `frame` `id` to match the default will not lead to an error.
        [ a:defaultValue = "main" ]
        attribute main-wnd { text }

    bld.app.py.init.attrib =
        ##Script to run after processing all of the windows in the `app`.
        ##It is passed the `wx.App` class and the `Gui`, in that order. 
        ##This script is expected to return before the main loop starts.
        attribute py.init { bld.py.expression.data }
        
    bld.module.name.attrib =
        ##Name of the module to import.
        attribute name { text }
        
    bld.module.as.attrib =
        ##The name to give the module. May not be dotted.
        ##If not present, then the module will be imported as specified.
        attribute as { text }

    bld.id.attrib =
        ## Identifier used to find specific windows within a context.
        attribute id { bld.id.data }
        
    bld.width.attrib =
        attribute width { xsd:positiveInteger }

    bld.height.attrib =
        attribute height { xsd:positiveInteger }
        
    bld.title.attrib =
        ##The textual title of a window.
        attribute title { text }
        
    bld.tooltip.attrib =
        ##Tooltip for this window.
        attribute tooltip { text }

    ##AUI attributes.
    div 
    {
        bld.aui.name.attrib =
            ##Specifies the name of the toolbar/panel's aui pane.
            ##Having a fixed name is important for being able to save the configuration and reloading it.
            ##If this is not present, the pane uses the `id`, and if that's not present, it generates a
            ##name based on the number of unnamed panes before it in the frame.
            attribute aui.name { text }
            
        bld.aui.caption.attrib =
            ##The visible caption for an AUI panel.
            attribute aui.caption { text }
    
        bld.panel.aui.dock.attrib =
            ##Specifies the direction the panel is docked to.
            attribute aui.dock {"right" | "left" | "top" | "bottom" | "center" }
    
        bld.aui.dock.attrib =
            ##Specifies the direction the panel is docked to. Cannot dock to center.
            attribute aui.dock {"right" | "left" | "top" | "bottom" }
    
        bld.aui.buttons.attrib =
            ##A `|` separated list of buttons that should be visible on the pane.
            ##Valid button names are "close", "pin", "minimize", and "maximize"
            attribute aui.buttons { text }
    
        bld.aui.floatable.attrib =
            ##True if the panel/toolbar can be made floating.
            [ a:defaultValue = "true" ]
            attribute aui.floatable { bld.boolean.data }
    
        bld.aui.row.attrib =
            ## Specifies the order for panes attached to the same layer.
            attribute aui.row { xsd:nonNegativeInteger }
    
        bld.aui.layer.attrib =
            ## Determines how close the attached pane is to the center.
            attribute aui.layer { xsd:nonNegativeInteger }
    
        bld.aui.resizeable.attrib =
            ##If true, then the panel or toolbar can be resized. If false, it cannot be resized.
            ##For panels, this is true by default. For toolbars, it is false by default.
            attribute aui.resizeable { bld.boolean.data }
    
        bld.aui.gripper.attrib =
            ##If true, then the pane will have a region that the user can use to reposition it.
            [ a:defaultValue = "true"]
            attribute aui.gripper { bld.boolean.data }
    }
    
    ##Sizer attributes
    div
    {
        bld.box.orient.attrib =
            ##Stacking direction for the box.
            attribute box.orient { bld.orient.data }
        
        bld.gridsider.columns.attrib =
            ##Number of columns for a grid sizer.
            [ a:defaultValue = "0" ]
            attribute grid.columns { xsd:nonNegativeInteger }
            
        bld.gridsider.rows.attrib =
            ##Number of columns for a grid sizer.
            [ a:defaultValue = "0" ]
            attribute grid.rows { xsd:nonNegativeInteger }
        
        bld.gridsizer.hgap.attrib =
            ##The gap in pixels between rows
            [ a:defaultValue = "0" ]
            attribute grid.hgap { xsd:nonNegativeInteger }

        bld.gridsizer.vgap.attrib =
            ##The gap in pixels between columns
            [ a:defaultValue = "0" ]
            attribute grid.vgap { xsd:nonNegativeInteger }
            
        bld.gridsizer.fixed.attrib =
            ##If true, then it uses a regular GridSizer; otherwise a FlexGridSizer
            [ a:defaultValue = "false" ]
            attribute grid.fixed { bld.boolean.data }
    }
    
    ##Positioning attributes
    div
    {
        bld.layout.valign.attrib =
            ##Defines the vertical alignment of the item in its sizer area.
            [ a:defaultValue = "top"]
            attribute layout.valign { "top" | "bottom" | "center" }

        bld.layout.halign.attrib =
            ##Defines the horizontal alignment of the item in its sizer area.
            [a:defaultValue = "left"]
            attribute layout.halign { bld.horiz.align.data }
            
        bld.layout.expand.attrib =
            ##Specifies whether the size of the control expands to fill the give sizer area.
            [a:defaultValue = "false"]
            attribute layout.expand { bld.boolean.data }

        bld.layout.proportion.attrib =
            ##Defines the proportion space ratio for the control.
            [a:defaultValue = "0"]
            attribute layout.proportion { xsd:nonNegativeInteger }
            
        bld.layout.border-size.attrib =
            attribute layout.border-size { xsd:nonNegativeInteger }
        
        bld.layout.border-dir.attrib =
            ##A `|` separated list of directions to which the border size will apply. May include:
            ##"left", "right", "top", "bottom", or "all"
            attribute layout.border-dir { text }
            
          
    }
    
    ##Window-specific attributes
    div
    {
        bld.std.label.attrib =
            ##Text to be displayed in a control, defining what it means.
            attribute label { text }
            
        bld.std.label-align.attrib =
            ##Alignment of the label within the control.
            [a:defaultValue = "left"]
            attribute label-align { bld.horiz.align.data }
            
        bld.std.full.label-align.attrib =
            ##Alignment of label in all four directions.
            [a:defaultValue = "center"]
            attribute label-align { bld.align.all.data }
        
        bld.std.py.action.attrib =
            ##A Python expression to be invoked when this item is clicked or otherwise actioned.
            attribute py.action { bld.py.expression.data }
        
        bld.spacer.size.attrib =
            ##The size for the spacer.
            attribute size { xsd:nonNegativeInteger }

        bld.scroll-window.hscroll.attrib =
            ##Horizontal scrolling rate when using arrows
            [ a:defaultValue = "0" ]
            attribute hscroll { xsd:nonNegativeInteger }
            
        bld.scroll-window.vscroll.attrib =
            ##Vertical scrolling rate when using arrows
            [ a:defaultValue = "0" ]
            attribute vscroll { xsd:nonNegativeInteger }
            
        bld.coll-pane.label.attrib =
            ##The text to display for the collapsible pane.
            attribute label { text }

        bld.coll-pane.collapsed.attrib =
            ##Whether the pane starts collapsed or not.
            [ a:defaultValue = "false" ]
            attribute collapsed { bld.boolean.data }

        bld.checkbox.states.attrib =
            ##Defines whether the checkbox is 3 state, and whether the user can select the 3rd
            ##state.
            [ a:defaultValue = "two" ]
            attribute states { "two" | "three" | "three-user" }

        bld.checkbox.default.attrib =
            ##Specifies the initial state for the checkbox.
            [ a:defaultValue = "false" ]
            attribute default { bld.boolean.data | "undef" }
            
            
        bld.radiobox.orient.attrib =
            ##The orientation of this radio box.
            [ a:defaultValue = "vertical" ]
            attribute orient { bld.orient.data }
            
        bld.radiobox.default.attrib =
            ##The name or index of the radio option that should be the initial state.
            [ a:defaultValue = "0" ]
            attribute default { text }
            
        bld.ctrl.py.control.py.window.attrib =
            ##Function which returns a window.
            attribute py.window { bld.py.expression.data }

        bld.ctrl.text-ctrl.multiline.attrib =
            ##Set to true if it is a multiline edit box.
            [ a:defaultValue = "false" ]
            attribute multiline { bld.boolean.data }

        bld.ctrl.text-ctrl.readonly.attrib =
            ##Set to true to make the box read-only
            [ a:defaultValue = "false" ]
            attribute readonly { bld.boolean.data }

        bld.ctrl.text-ctrl.wrap.attrib =
            ##Set to false to make the box not wordwrap.
            [ a:defaultVaue = "true" ]
            attribute wrap { bld.boolean.data }

        bld.ctrl.text-ctrl.rich.attrib =
            ##Set to true to make the box a rich-edit box.
            [ a:defaultValue = "false" ]
            attribute rich { bld.boolean.data }

        bld.ctrl.text-ctrl.default.attrib =
            ##Specifies text to show at the start of the application.
            attribute default { text }

        bld.ctrl.text-ctrl.py.entry.attrib =
            attribute py.entry { bld.py.expression.data }

        bld.ctrl.text-ctrl.py.change.attrib =
            attribute py.change { bld.py.expression.data }

        bld.ctrl.static-line.orient.attrib =
            ##Defines the orientation of the line.
            [ a:defaultValue = "horizontal" ]
            attribute orient { bld.orient.data }

        bld.ctrl.spin-ctrl-int.min.attrib =
            ##Defines the minimum value you can select.
            [ a:defaultValue = "0" ]
            attribute min { xsd:integer }
        
        bld.ctrl.spin-ctrl-int.max.attrib =
            ##Defines the maximum value you can select.
            [ a:defaultValue = "100" ]
            attribute max { xsd:integer }
            
        bld.ctrl.spin-ctrl-int.default.attrib =
            ##The default value for the spin control, which will be the minimum.
            attribute default { xsd:integer }

        bld.ctrl.spin-ctrl.wrap.attrib =
            ##Whether the control wraps around.
            [ a:defaultValue = "false" ]
            attribute wrap { bld.boolean.data }

        bld.ctrl.spin-ctrl-float.min.attrib =
            ##Defines the minimum value you can select.
            [ a:defaultValue = "0" ]
            attribute min { xsd:float }

        bld.ctrl.spin-ctrl-float.max.attrib =
            ##Defines the maximum value you can select.
            [ a:defaultValue = "100" ]
            attribute max { xsd:float }
            
        bld.ctrl.spin-ctrl-float.default.attrib =
            ##The default value for the spin control, which will be the minimum.
            attribute default { xsd:float }

        bld.ctrl.spin-ctrl-float.increment.attrib =
            ##The multiple by which values go up or down.
            [ a:defaultValue = "1" ]
            attribute increment { xsd:float }
        
        bld.ctrl.spin-ctrl-float.min-digits.attrib =
            ##Defines the minimum number of digits to display.
            [ a:defaultValue = "0" ]
            attribute min-digits { xsd:nonNegativeInteger }
            
        bld.ctrl.spin-ctrl.py.change.attrib =
            ##Python expression to invoke when the spin control changes.
            attribute py.change { bld.py.expression.data }
    }
}

## Data types 
div
{
    bld.id.data = text
    
    bld.horiz.align.data = "left" | "right" | "center"
    
    bld.align.all.data = "left" | "right" | "top" | "bottom" | "center"
    
    bld.orient.data = "horizontal" | "vertical"
    
    ##For any attributes that take a Python expression.
    bld.py.expression.data = text
    
    ## XSD's boolean type includes things other than "true" and "false",
    ## so we do it manually.
    bld.boolean.data = "true" | "false"
}
